{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-23T19:07:03Z",
    "title": "fineo-ingest-pipeline"
  },
  "host": "ingest.fineo.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/stream/event": {
      "put": {
        "tags": [
          "stream"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "event",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleStreamEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "400 response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-get-s3",
          "responses": {
            "4\\d{2}": {
              "statusCode": "400"
            },
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "{}"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.ContentType": "'application/x-amz-json-1.1'"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "HEAD",
          "uri": "arn:aws:apigateway:us-east-1:kinesis:action/PutRecord",
          "requestTemplates": {
            "application/json": "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n#set($allParams = $input.params())\n#set($orgID = $context.identity.apiKey)\n#set ($bodyJson = $util.parseJson($input.body))\n#set ($bodyJson.companykey = $orgID)\n#set ($data = $util.base64Encode($bodyJson))\n{\n    \"Data\" : \"$data\",\n    \"StreamName\": \"fineo-customer-ingest\",\n    \"PartitionKey\": \"$orgID\"\n}"
          },
          "type": "aws"
        }
      }
    },
    "/stream/events": {
      "put": {
        "tags": [
          "stream"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "event",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "400 response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-get-s3",
          "responses": {
            "4\\d{2}": {
              "statusCode": "400"
            },
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "{}"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.ContentType": "'application/x-amz-json-1.1'"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "HEAD",
          "uri": "arn:aws:apigateway:us-east-1:kinesis:action/PutRecord",
          "requestTemplates": {
            "application/json": "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n#set($allParams = $input.params())\n#set($orgID = $context.identity.apiKey)\n#set ($bodyJson = $util.parseJson($input.body))\n#set ($bodyJson.companykey = $orgID)\n#set ($data = $util.base64Encode($bodyJson))\n{\n    \"Data\" : \"$data\",\n    \"StreamName\": \"fineo-customer-ingest\",\n    \"PartitionKey\": \"$orgID\"\n}"
          },
          "type": "aws"
        }
      }
    },
    "/batch/status/{file}": {
      "get": {
        "tags": [
          "batch"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Timestamp": {
                "type": "string"
              },
              "Content-Type": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-get-s3",
          "requestParameters": {
            "integration.request.path.user": "context.identity.apiKey",
            "integration.request.path.file": "method.request.path.file"
          },
          "responses": {
            "4\\d{2}": {
              "statusCode": "404"
            },
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Content-Type": "integration.response.header.Content-Type",
                "method.response.header.Timestamp": "integration.response.header.Date"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "HEAD",
          "uri": "arn:aws:apigateway:us-east-1:s3:path/batch.fineo.io/ingest/{user}_{file}",
          "type": "aws"
        }
      }
    },
    "/batch/upload/data/{file}": {
      "post": {
        "tags": [
          "batch"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Length",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-MD5",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "events",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUploadContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-upload-data",
          "requestParameters": {
            "integration.request.path.user": "context.identity.apiKey",
            "integration.request.path.file": "method.request.path.file",
            "integration.request.header.Content-MD5": "method.request.header.Content-MD5",
            "integration.request.header.Content-Type": "method.request.header.Content-Type",
            "integration.request.header.Content-Length": "method.request.header.Content-Length"
          },
          "responses": {
            "\\d{3}": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "uri": "arn:aws:apigateway:us-east-1:s3:path/batch.fineo.io/ingest/{user}_{file}",
          "type": "aws"
        }
      }
    },
    "/batch/upload/file": {
      "post": {
        "tags": [
          "batch"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "batchUploadRemoteS3File",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUploadRemoteS3File"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-upload-file",
          "requestParameters": {
            "integration.request.querystring.Message": "method.request.body.FilePath",
            "integration.request.querystring.TopicArn": "'arn:aws:sns:us-east-1:766732214526:batch-ingest-files_remote'",
            "integration.request.querystring.Subject": "context.identity.apiKey"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{ }"
              }
            }
          },
          "passthroughBehavior": "never",
          "httpMethod": "POST",
          "requestTemplates": {
            "application/json": "{}"
          },
          "uri": "arn:aws:apigateway:us-east-1:sns:action/Publish",
          "type": "aws"
        }
      },
      "put": {
        "tags": [
          "batch"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FilePath",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-upload-file",
          "requestParameters": {
            "integration.request.querystring.Message": "method.request.body.FilePath",
            "integration.request.querystring.TopicArn": "'arn:aws:sns:us-east-1:766732214526:batch-ingest-files_remote'",
            "integration.request.querystring.Subject": "context.identity.apiKey"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "never",
          "httpMethod": "POST",
          "requestTemplates": {
            "application/json": "{}"
          },
          "uri": "arn:aws:apigateway:us-east-1:sns:action/Publish",
          "type": "aws"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    },
    "sigv4": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "definitions": {
    "SingleStreamEvent": {
      "description": "Single event to stream upload. Max size: 1MB",
      "type": "object",
      "required": [
        "metrictype",
        "timestamp"
      ],
      "properties": {
        "timestamp": {
          "type": "number",
          "minimum": 0
        },
        "metrictype": {
          "type": "string"
        },
        "additionalProperties": {
          "type": "object",
          "properties": {
            "field": {
              "type": [
                "number",
                "string",
                "boolean"
              ]
            }
          }
        }
      }
    },
    "MultiEvent": {
      "type": "array",
      "description": "JSON blob of multiple event to batch upload.",
      "items": {
        "$ref": "#/definitions/SingleStreamEvent"
      }
    },
    "BatchUploadRemoteS3File": {
      "type": "object",
      "properties": {
        "FilePath": {
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object"
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    }
  }
}
